//样式配置变量
@import "./variables.scss";
//布局通用样式
@import "./layout/layout.scss";
@import "./layout/flex.scss";
//内置几种常见动画，优化交互
@import "./animation/slide.scss";
html,body{
  height: 100%;
  line-height: 1.5;
  #mainProject{
    height: 100%;
  }
}

.noData {
  width: 100%;
  height: calc(100% - 42px);
  background: url('/bootstrap/image/code-dctionary-no-data.png') no-repeat center center;
}

//表格列表样式
.fpa-data-grid{
  display: flex;
  flex-direction: column;
  height: 100%;
  .title{
    font-size: 14px;
    line-height: 50px;
  }
  .list-content{
    flex: 1 0;
    position: relative;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    /deep/ .sg-spin-fix {
      background-color: transparent;
      z-index: 1;
      .sg-spin-main {
        color: #999999;
      }
    }
    /deep/ .icon-button {
      color: $color-gray;
      text-decoration: none;
      height: $button-height-md;
      border: none;
      .iconfont {
        margin-right: 0px !important;
        font-size: $font-size-md;
        margin-right: $icon-spacing-sm;
      }
    }
    >.sg-table{
      border: none;
      &:after{
        display: none;
      }
      &:before{
        display: none;
      }
    }
  }
  .list-footer{
    height: 40px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
}
//列表旁树（base-tree）通用样式
.fpa-tree-layout{
  height: 100%;
  display: flex;
  flex-direction: column;
  .title{
    font-size: 14px;
    line-height: 50px;
  }
  .tree-content{
    position: relative;
    flex: 1 0;
    border: 1px solid #dfdfdf;
    overflow-y: auto;
    /deep/ .sg-spin-fix {
      background-color: transparent;
      z-index: 1;
      .sg-spin-main {
        color: #999999;
      }
    }
  }
}

//按钮图标+按钮,sg-header布局下的文本按钮
.sg-header.fpa-common-head {
  padding:7px 0;
  border-bottom: 1px solid #dfdfdf;
  .icon-button {
    float: left;
    color: $color-gray;
    text-decoration: none !important;
    height: $button-height-md;
    padding-left: 0;
    padding-right: 0;
    margin-right: $button-spacing-md;
    border: none;
    user-select: none;
    // 图标颜色修改
    .iconfont {
      color: #bfc5d4;
      font-size: $font-size-md;
      margin-right: $icon-spacing-sm;
    }

    &:hover {
      color: #3b86e0;

      .iconfont {
        color: #3b86e0;
      }
    }
    &:active{
      color: #3b86e0 !important;
      border-color: #3b86e0 !important;
    }
  }
}
